button{
  outline: none;
  border: none;

  &:focus, &:active{
    border: none;
    outline: none;
  }
}

.button{
  --button-bg: #03050F;
  background-color: var(--button-bg);
  color: #ffff;
  
  line-height: 20px;
  font-size: 18px;
  text-align: center;

  border-radius: 40px;
  width: 100%;
  padding: 18px 40px 18px 40px;

  cursor: pointer;

  transition: all .3s ease;

  &:active{
    scale: .9;
  }
}