.hidden{
  display: block;

  & &--flex{
    display: flex;
  }

  &.media-query__max__md{
    @include max-md{
      display: none;
    }
  }

  &.media-query__min__md{
    @include min-md{
      display: none;
    }
  }

  /** XL */

  &.media-query__max__xl{
    @include max-xl{
      display: none;
    }
  }

  &.media-query__min__xl{
    @include min-xl{
      display: none;
    }
  }
}